* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'fira-mono', monospace;
  color: inherit;
  hanging-punctuation: first last;
  line-height: 1.2;
}

a,
p,
ul,
ol,
li,
span {
  font-family: 'fira-sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.4;
  color: inherit;
  max-width: 40rem;
  max-width: 75ch;
  font-variant-numeric: proportional-nums ordinal;
  hanging-punctuation: first last;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: square;
  list-style-image: none;
}

#intro,
#exit {
  background-color: #262626;
}

#exit h1,
#exit h2,
#exit h3,
#exit h4,
#exit a,
#exit p,
#exit ul,
#exit li,
#exit ol,
#exit span,
#intro h1,
#intro h2,
#intro h3,
#intro h4,
#intro a,
#intro p,
#intro ul,
#intro li,
#intro ol,
#intro span {
  color: #f2f2f2;
}

#exit h1,
#intro h1 {
  color: #ff5e00;
}

#exit p,
#intro p {
  margin: 1rem 0;
}

#exit a,
#intro a {
  cursor: pointer;
  text-decoration: underline;
  -webkit-text-decoration-color: #ff5e00;
          text-decoration-color: #ff5e00;
}

#exit a:hover,
#intro a:hover {
  color: #ff5e00;
}

#exit .disclaim,
#intro .disclaim {
  font-size: 0.66rem;
  color: #ff5e00;
}

.viewport {
  max-width: 100vw;
  min-height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#exit.flex,
#intro.flex {
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features.flex {
  max-width: 80rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.document {
  margin: 1rem;
  min-width: 10rem;
  width: 100%;
  max-width: 40rem;
  max-width: 75ch;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) -0.25rem 0.25rem 1rem 0px;
          box-shadow: rgba(0, 0, 0, 0.5) -0.25rem 0.25rem 1rem 0px;
}

.document img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

main.content {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 640px) {
  .disclaim {
    display: none;
  }
  .features.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  #intro {
    padding: 2rem;
  }
}

#not-spacer-gif {
  margin: 33vh 0;
  width: 100%;
  border-color: #ff5e00;
  border-style: solid;
  border-width: 1rem;
}

address {
  font-style: initial;
}

#sylabus {
  font-family: "open-sans", sans-serif;
  max-width: 100vw;
}

#sylabus p,
#sylabus ul,
#sylabus li,
#sylabus ol,
#sylabus span {
  max-width: 40rem;
  max-width: 75ch;
  font-family: "open-sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-variant-numeric: proportional-nums ordinal;
}

#sylabus h1,
#sylabus h2,
#sylabus h3,
#sylabus h4 {
  font-family: "open-sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  line-height: 1.2;
}

#sylabus h1 {
  font-size: 2rem;
}

#sylabus h2 {
  font-size: 1.66rem;
  font-weight: 600;
}

#sylabus h3 {
  font-weight: 600;
  font-size: 1.33rem;
}

#sylabus a {
  font-family: "open-sans", sans-serif;
  -webkit-text-decoration-color: #cb0003;
          text-decoration-color: #cb0003;
}

#sylabus a:hover {
  color: #cb0003;
}

#sylabus header.flex {
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cb0003;
  color: #ececec;
  text-align: center;
}

#sylabus h1,
#sylabus h2 {
  color: #cb0003;
}

#sylabus ul {
  padding: 0 0 0 1rem;
  list-style-type: square;
  list-style-position: outside;
}

#sylabus section.main {
  padding: 1rem;
}

#sylabus section.main h2 {
  margin-top: 1rem;
}

#sylabus aside.content {
  padding: 1rem;
}

#sylabus aside.content h2 {
  margin-top: 1rem;
}

#sylabus aside.flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

#sylabus footer.flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#sylabus footer.content {
  padding: 1rem;
  min-height: 50vh;
  background-color: #ececec;
}

@supports (display: grid) {
  #sylabus header.grid {
    color: #ececec;
    overflow: hidden;
    position: relative;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'vma h3 h3' 'vma code code' 'vma title title' 'vma h2 h2';
    -ms-grid-columns: 20vw 1fr 1fr;
        grid-template-columns: 20vw 1fr 1fr;
    -ms-grid-rows: max-content 1fr 1fr min-content;
        grid-template-rows: -webkit-max-content 1fr 1fr -webkit-min-content;
        grid-template-rows: max-content 1fr 1fr min-content;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-line-pack: end;
        align-content: end;
    text-align: left;
  }
  #sylabus header.grid h1,
  #sylabus header.grid h2,
  #sylabus header.grid h3 {
    z-index: 2;
  }
  #sylabus header.grid h2 {
    color: #ececec;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: h2;
  }
  #sylabus header.grid h3,
  #sylabus header.grid #course-code {
    color: #ececec;
    font-size: 1.33rem;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: h3;
  }
  #sylabus header.grid #course-code {
    font-size: 10vmin;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: code;
  }
  #sylabus header.grid #course-title {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: title;
    color: #ececec;
    text-align: left;
    font-size: 10vmin;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.05rem;
  }
  #sylabus #vma {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  #sylabus #vma span {
    color: #e58081;
    line-height: 0.5;
    font-size: 25vmax;
    font-weight: 800;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: -0.05rem;
  }
}

@media screen and (min-width: 640px) {
  #sylabus.grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr 2fr;
    grid-auto-rows: repeat(5, 1fr);
        grid-template-areas: 'header header' 'header header' ' header header' 'header header' 'aside main' 'footer main';
  }
  #sylabus.grid header.grid {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: min-content 1fr min-content;
        grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: 'vma void' 'void h3' 'code title' 'h2 void';
  }
  #sylabus.grid header.grid h1,
  #sylabus.grid header.grid h2,
  #sylabus.grid header.grid h3 {
    padding: 1rem;
  }
  #sylabus.grid section.main {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  #sylabus.grid aside.content {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: aside;
    text-align: right;
  }
  #sylabus.grid aside.content.flex {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #sylabus.grid footer.content {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: initial;
    text-align: right;
  }
  #sylabus.grid footer.content.flex {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=sylabus.css.map */