* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  overflow-x: hidden;
}

@mixin maxLineMeasure {
  max-width: 40rem; // !ch suppoert fallback
  max-width: 75ch;
}

@mixin optimizeFitty {
  display: inline-block;
  white-space: nowrap;
}

p,
ul,
li,
ol,
span {
  @include maxLineMeasure();
  font-variant-numeric: proportional-nums ordinal;
}

.fitty {
  @include optimizeFitty();
}

#futura {
  font-family: 'futura-pt', Arial, Helvetica, sans-serif;
  // futura article styles
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;

  background-color: hsl(0, 0%, 95%);

  padding: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .futura-grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }
}
