@import 'index';

$futura: 'futura-pt', Arial, Helvetica, sans-serif;

@mixin futuraText {
  font-family: $futura;
  font-size: 1.2rem;
  line-height: 1.4;
}

.fitty {
  @include optimizeFitty();
}

#futura {
  font-family: $futura;
  // futura article styles
  width: 100%;
  // max-width: 80rem;

  background-color: $muteGray;

  padding: 1rem;
  overflow: hidden;

  p,
  ul,
  li,
  ol,
  span {
    color: $darkGray;
    @include maxLineMeasure();
    @include futuraText();
    font-variant-numeric: proportional-nums ordinal;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $darkGray;
    @include futuraText();
    line-height: 1;
  }

  .specimens {
    color: $medGray;
  }

  @keyframes rotateTime {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #clock {
    position: relative;

    #year,
    #pairs {
      position: absolute;
      z-index: 2;

      // centers and fills container for animation centering
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      div {
        // positioning container to get text outside of clock
        position: relative;
        width: 100%;

        transform-origin: center center;
        animation-name: rotateTime;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        span {
          position: relative;

          color: $medGray;
          // width: 150%;
          font-size: 2rem;
          // animation-duration: 10s;
        }
      }
    }
    #year {
      transform: rotate(
        -45deg
      ); //offset initial position to align with hour hand
      div {
        text-align: right;
        animation-duration: 60s;
      }
      span {
        right: -20%;
        max-width: initial;
      }
    }
    #pairs {
      transform: rotate(360deg);
      div {
        position: relative;
        text-align: center; // centers span with text
        animation-duration: 5s;
        height: 100%;
      }
      span {
        top: -40%;
        line-height: 0.25;
      }
    }

    svg {
      // futura animated clock
      :not([fill*='none']) {
        fill: $darkGray;
      }

      #hour,
      #minute {
        transform-box: fill-box;
        transform-origin: center center;
        animation-name: rotateTime;
        // animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      #hour {
        animation-duration: 60s; // scaled 60seconds/hour
      }
      #minute {
        animation-duration: 5s; // scaled (divide hour by 12)
      }
    }
  }
}

// .futura-title {}

@media screen and (min-width: $optimalView) {
  #futura {
    .futura-grid {
      max-width: 100vw;
      display: grid;
      grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;
    }

    .futura-title {
      justify-self: bottom;
      grid-column: 2 / 5;
      grid-row: 1 / 2;
    }
    .futura-subtitle {
      grid-column: 4 / 6;
      grid-row: 1 / 2;
    }
    .futura-text {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }

    #clock {
      width: 133%;
      justify-self: end;
      grid-column: 1 / 4;
      grid-row: 4 / 6;
    }

    #xyz {
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      align-self: center;
    }

    #aa {
      grid-column: 4;
      grid-row: 5 / 6;
    }
  }
}
