@import 'index';

$futura: 'futura-pt', Arial, Helvetica, sans-serif;

@mixin futuraText {
  font-family: $futura;
  font-size: 1.2rem;
  line-height: 1.4;
}

.fitty {
  @include optimizeFitty();
}

#futura {
  font-family: $futura;
  // futura article styles
  width: 100%;

  background-color: hsl(0, 0%, 97%);

  padding: 1rem;
  overflow: hidden;

  p,
  ul,
  li,
  ol,
  span {
    @include maxLineMeasure();
    @include futuraText();
    font-variant-numeric: proportional-nums ordinal;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
    @include futuraText();
  }
}

// .futura-title {}

@media screen and (min-width: 600px) {
  .futura-grid {
    max-width: 100vw;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  }

  .futura-title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .futura-subtitle {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  .futura-text {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
