* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

$optimalView: 640px;

$orange: #ff5e00;
$darkGray: #262626;
$muteGray: #f2f2f2;
$medGray: #808080;

@mixin maxLineMeasure {
  max-width: 40rem; // !ch support fallback
  max-width: 75ch;
}

@mixin optimizeFitty {
  // https://github.com/rikschennink/fitty#performance
  display: inline-block;
  white-space: nowrap;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'fira-mono', monospace;
  // letter-spacing: -0.1rem;
  color: inherit;
  hanging-punctuation: first last;
  line-height: 1.2;
}

a,
p,
ul,
ol,
li,
span {
  font-family: 'fira-sans', 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.4;
  color: inherit;

  @include maxLineMeasure();
  font-variant-numeric: proportional-nums ordinal;
  hanging-punctuation: first last;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: square;
  list-style-image: none;
}

#intro,
#exit {
  background-color: $darkGray;
}

#exit,
#intro {
  h1,
  h2,
  h3,
  h4,
  a,
  p,
  ul,
  li,
  ol,
  span {
    color: $muteGray;
  }
  h1 {
    color: $orange;
  }
  p {
    margin: 1rem 0;
  }
  a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $orange;
    &:hover {
      color: $orange;
    }
  }
  .disclaim {
    font-size: 0.66rem;
    color: $orange;
  }
}

.viewport {
  max-width: 100vw;
  min-height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
}

#exit.flex,
#intro.flex {
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
}

.features.flex {
  // padding: 2rem;
  max-width: 80rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.document {
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  margin: 1rem;
  min-width: 10rem;
  width: 100%; // container
  @include maxLineMeasure(); //max width
  box-shadow: rgba(0, 0, 0, 0.5) -0.25rem 0.25rem 1rem 0px;
}

main.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1rem;
}

@media screen and (min-width: $optimalView) {
  // start responsive < 2 columns
  .disclaim {
    display: none;
  }

  .features.flex {
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  #intro {
    padding: 2rem;
  }
}

#not-spacer-gif {
  // puts some negative space between each project

  margin: 33vh 0;
  width: 100%;

  border-color: $orange;
  border-style: solid;
  border-width: 1rem;
}
